body{
   background-color: aqua;
}

.start{
   text-align: center;
   font-size: x-large;
   padding-top: 100px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.hello{
   text-align: center;
   color: aliceblue;
}